{% extends "acrelog/skeleton.html" %}

{% block content %}

<div>
    <header>
        <h1 style="text-align: center;">ACRE History</h1>
    </header>
</div>
<p style="text-align: center;">The Agronomy Farm was established in 1949 as the campus-based field research station for agronomic crops and soils research for the agronomy department and other departments working on field crops. This facility is now the Agronomy Center for Research and Education (ACRE). It is utilized by over 50 researchers from eight departments, conducting approximately 180 research projects. This 1,600 acre farm facility is located seven miles northwest of campus. The Indiana Corn and Soybean Innovation Center was opened in 2016 to experiment with new ways to collect plant trait data and automate seed processing. A farm manager and three technicians are employed full-time with seasonal and student labor as needed. </p>
<p style="text-align: center;">It is one of the Purdue College of Agriculture Treasure as it hosts research projects in many discipline: Agriculture, Civil and Environmental Engineering, Agronomy. The site helps Purdue maintain its status as a leading educational and research institute in the United States. Currently, cooperating departments doing agronomic field research include: Agronomy, Botany and Plant Pathology, Entomology, Agricultural and Biological Engineering, LARS (Laboratory for Applications of Remote Sensing).</p>
<p style="text-align: center;">The farm manager is Rachel Stevens which lead the inspiration for this project. As more and more projects are lead on the farm, it is important to have a way to record data and understand how the fields are being used. In order to help Rachel manage the farm in the best way possible the website will aim at adding data and observations about each field to keep and track how the field are being used and make informed decision for future research</p>


{% endblock %}
</html>