<!DOCTYPE html>
<html>
<head>
    <title>Farmnotes App</title>
    <title>Farmnotes Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'farmnotes/style.css' %}">
</head>

<body>
    <h1>{{ field.field_name }}</h1>
    <ul>
    <h2>Observations: {{ observation.observation_title }}</h2>
    <p>
        {{ observation.observation_content }}
    </p>
    <p>
        {{ observation.author }}
    </p>
    <p>{{ observation.observation_date }}</p>
    <p>
        {{ observation.observation_type }}
    </p>
</body>
</html>